
<div class="content-contacts">

    <div class="info-description">
        www.studyabroadllc.com
        <br />
        101000 г.Москва
        <br />
        Потаповский пер. 8/12 стр.2,
        <br />
        +7 916 259 2830
        <br />
        studyabroadllc@gmail.com
    </div>
    <div class="info-map">
        <!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (начало) -->
        <div id="ymaps-map-id_135453974815330103393" style="width: 450px; height: 350px;">
        </div>

        <!--<div style="width: 450px; text-align: right;">-->
            <!--<a href="http://api.yandex.ru/maps/tools/constructor/index.xml" target="_blank" style="color: #1A3DC1; font: 13px Arial, Helvetica, sans-serif;">-->
                <!--Создано с помощью инструментов Яндекс.Карт-->
            <!--</a>-->
        <!--</div>-->
    </div>
    <script type="text/javascript">function fid_135453974815330103393(ymaps) {var map = new ymaps.Map("ymaps-map-id_135453974815330103393", {center: [37.64083, 55.76135245819288], zoom: 16, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));map.geoObjects.add(new ymaps.Placemark([37.641100366799655, 55.76067613355935], {balloonContent: "Мы тут"}, {preset: "twirl#lightblueDotIcon"}));};</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?lang=ru-RU&coordorder=longlat&load=package.full&wizard=constructor&onload=fid_135453974815330103393"></script>
</div>