
<!--Многие из нас учили иностранные языки в школе, в ВУЗе, на частных курса. Но действительно ли вы способны говорить? Говорить на иностранном языке смело, не подбирая каждое слово, без тени смущения, не опасаясь выглядеть нелепо. Считаете у вас «нет способности к языкам»? Компания Study Abroad так не считает!-->
<!--Можно ли представить лучший способ изучить язык, чем отправиться в страну, где говорят на нужном языке?-->
<!--По эффективности один месяц занятий в стране языка сопоставим с полугодом интенсивных курсов в России!-->
<!--Сочетайте путешествия с повышением своих знаний иностранных языков!  Незабываемые впечатления, бесценный опыт общения, новые друзья со всего мира, уверенность в своих языковых навыках – всё это доступно как ни когда с компанией Study Abroad.-->
<!--Study Abroad – ваш оператор образовательного туризма.-->
<!--Мечтаете получить зарубежное образование, но Ваши знания языков недостаточны? Первый шаг к Вашей мечте – изучение языка в стране, где Вы хотели бы получить образование. Многие языковые школы осуществляют переводы (трансферы) студентов в колледжи и университеты, либо сами являются частью университетов.-->
<!--Компания Study Abroad подберет для Вас языковой центр и курс наиболее отвечающий Вашим требованиям, наиболее подходящий для Вас тип проживания, осуществит всю необходимую визовую и страховую поддержку.-->
<!--Английский, Немецкий, Французский, Испанский, Португальский, Итальянский, Японский, Китайский, Арабский и Турецкий языки более чем в тридцати странах мира, теперь доступны для Вас!-->

<div class="content-info">
    <img src="static/img/info.png" />
</div>